#!/bin/ksh

daemon="${TRUEPREFIX}/bin/monerod"
daemon_user="_monerod"
daemon_flags="--non-interactive --config-file ${SYSCONFDIR}/monero/monero.conf"
daemon_timeout=30
daemon_logger="daemon"

. /etc/rc.d/rc.subr

pexp="monerod"
rc_bg=YES
rc_reload=NO

rc_cmd $1