#!/bin/ksh

daemon="${TRUEPREFIX}/bin/monerod"
daemon_timeout="300"
daemon_user="_monerod"
data_dir="${LOCALSTATEDIR}/monero"
daemon_flags="--non-interactive --config-file ${SYSCONFDIR}/monero.conf --data-dir ${DATA_DIR}"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_cmd $1