#!/bin/ksh

daemon="${TRUEPREFIX}/bin/monerod"
daemon_user="_monerod"
daemon_flags="--detach --config-file=${SYSCONFDIR}/monero/monerod.conf"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO
rc_stop_signal=KILL

rc_cmd $1