#!/bin/sh
#
# $OpenBSD$
#
# PROVIDE: smp_server
# REQUIRE: DAEMON
# KEYWORD: shutdown

daemon="${TRUEPREFIX}/bin/smp-server"
daemon_user="_simplexmq"
daemon_logger="daemon.info"
rc_env="SMP_SERVER_CFG_PATH=/etc/simplex/smp-server SMP_SERVER_LOG_PATH=/var/simplex/smp-server"

. /etc/rc.d/rc.subr

rc_bg=YES
pexp="smp-server:.*"

rc_cmd $1
