#!/bin/ksh

daemon="${TRUEPREFIX}/bin/XD"
daemon_user="_xd"
daemon_flags="${SYSCONFDIR}/xd/torrents.ini"

. /etc/rc.d/rc.subr

rc_bg=NO
rc_reload=NO

rc_start() {
	rc_exec "${daemon} ${daemon_flags} > /dev/null 2>&1 &"
}

rc_cmd $1